<div class='container-fluid'>
  <div class='detail-container overflow-hidden'>
    <div class='row mx-0 img-detail'>
      <!-- CAROUSEL -->
      <div class='col-8 px-0'>
        <div class='product-img'>
          <div id='carousel-product-image' class='carousel slide'>
            <div class='carousel-indicators'>
              {{#each details.productImage}}
              <button
                type='button'
                data-bs-target='#carousel-product-image'
                data-bs-slide-to='{{@index}}'
              ></button>
              {{/each}}
            </div>
            <div id="carousel-images" class='carousel-inner'>
              {{#each details.productImage}}
              <div class='carousel-item'>
                <img
                  class='product-image'
                  src={{this}}
                />
              </div>
              {{/each}}
            </div>
            <button
              class='carousel-control-prev'
              type='button'
              data-bs-target='#carousel-product-image'
              data-bs-slide='prev'
            >
              <span
                class='carousel-control-prev-icon'
                aria-hidden='true'
              ></span>
              <span class='visually-hidden'>Previous</span>
            </button>
            <button
              class='carousel-control-next'
              type='button'
              data-bs-target='#carousel-product-image'
              data-bs-slide='next'
            >
              <span
                class='carousel-control-next-icon'
                aria-hidden='true'
              ></span>
              <span class='visually-hidden'>Next</span>
            </button>
          </div>
        </div>
      </div>
      <!-- END CAROUSEL -->

      <!-- PRODUCT DETAIL -->
      <div class='col-4 px-0'>
        <form class="product-form" id="product-form" onsubmit="addToCart(event)" data-user = {{user}}>
        <div id="main-product-detail" class='product-detail' data-product-id={{details._id}}>
          <div class='name-price'>
            <p class='product-name'>{{details.name}}</p>
            <p class='product-price'><span id="product-price" data-price={{details.price}}></span>{{formatPrice details.price}}₫</p>
          </div>
          <div class='color'>
            <p class='attribute-name'>Color</p>
            <div class='color-options'>
              {{#each details.color}}
              <input
                type='radio'
                id='{{this._id}}'
                name='color-option'
                class='option'
                value="{{this._id}}"
              />
              <label class="color-present" for='{{this._id}}' style="background-color: {{this.colorCode}};">
                <i class='ri-check-line'></i>
              </label>
              {{/each}}
            </div>
          </div>
          <div class='size'>
            <p class='attribute-name'>Sizes</p>
            <div class='size-options'>
              {{#each details.size}}
              <input
                type='radio'
                id='{{this._id}}'
                name='size-option'
                class='option'
                value="{{this._id}}"
              />
              <label for='{{this._id}}' class='s-option'>
                {{this.size}}
              </label>
              {{/each}}
              </div>
            </div>
            <button class='add-button' type="submit">
             <p class='add-action'>add to cart</p>
            </button>
          </div>
        </form>
      </div>
      <!-- END PRODUCT DETAIL -->
    </div>
  </div>

  <!-- REVIEW SECTION -->
  <div class='review-container overflow-hidden'>
    <div class='row mx-0 view-make'>
      <!-- REVIEWS -->
      <div class='col-8 px-0'>
        <div id='review-view'>
          <div class='review-header'>
            <p class='r-header'>reviews
              <span id='review-amount'></span>
            </p>
          </div>
          
          <div id='review-section'>
              
          </div>

          <nav aria-label='link-to-review-pages'>
            <ul id="review-pagination" class='pagination'>
              
            </ul>
          </nav>
        </div>
      </div>
      <!-- END REVIEWS -->

      <!-- MAKE REVIEW -->
      <div class='col-4 px-0'>
        <form class='review-form' id='review-form' onsubmit="sendReview(event)">
          <p class='form-header'>Write a review</p>
          <div class='f-rating'>
            <p class='form-tittle'>Rating</p>
            <div name="rating" class='rating' onmousemove='rate(event)'>
              <span class='rating-star'>&#9733</span>
              <span class='rating-star'>&#9733</span>
              <span class='rating-star'>&#9733</span>
              <span class='rating-star'>&#9733</span>
              <span class='rating-star'>&#9733</span>
            </div>
          </div>
          <div class='f-review-tittle'>
            <p class='form-tittle'>Review tittle</p>
            <input
              type='text'
              id='review-tittle'
              name='title'
              class='input-text'
              required
            />
          </div>
          <div class='f-review-content'>
            <p class='form-tittle'>Your review</p>
            <textarea
              type='text'
              id='review-content'
              name='content'
              class='input-text'
              rows='4'
              required
            ></textarea>
          </div>
          
          <button 
            class='f-review-button' 
            type="submit" 
            {{#unless user}}disabled{{/unless}}
          >submit
          </button>
          {{#unless user}}
          <p class="noti-not-authen">You must login to write review</p>
          {{/unless}}
        </form>
      </div>
      <!-- END MAKE REVIEW -->
    </div>
  </div>
  <!-- END REVIEW SECTION -->

  <!-- OTHER PRODUCTS -->
  <div class='other-products-container overflow-hidden'>
    <p class='others-tittle'>you might also like</p>
    <div id='carouselOther-products' class='carousel slide'>
      <button
        class='carousel-control-prev'
        type='button'
        data-bs-target='#carouselOther-products'
        data-bs-slide='prev'
      >
        <span class='carousel-control-prev-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Previous</span>
      </button>
      <div class='carousel-inner'>
        <div class='carousel-item active'>
          <div class='related-product-container row mx-0'>
            
          </div>
        </div>
        <div class='carousel-item'>
          <div class='related-product-container row mx-0'>
            
          </div>
        </div>
      </div>
      <button
        class='carousel-control-next'
        type='button'
        data-bs-target='#carouselOther-products'
        data-bs-slide='next'
      >
        <span class='carousel-control-next-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Next</span>
      </button>
    </div>
  </div>
  <!-- END OTHER PRODUCTS -->
</div>

{{#section 'scripts'}}
    <script src='/js/hbsHelpers.js'></script>
    <script src='/js/productDetail.js'></script>
{{/section}}