<div class='container-fluid mx-0 px-0'>
  <div class='body-head'>
    <p class='body-title'>CATALOG</p>
  </div>

  <!--BODY CONTAINER-->
  <div class='body-container'>
    <!--FILTERS-->
    <form class='product-filter' id="filter-form" onsubmit="handleQuery(event)">
      <p>Filters</p>
      <div class='component-container product-name-block'>
        <p class="title">Product name</p>
        <input id="productName" name="product-name" class='product-name' placeholder="Input product name" />
      </div>
      <div class='component-container'>
        <p>Category</p> 
        <div class='list'>
          {{#each categories}}
            <div class='list-component'>
              <input type='checkbox' class='list-checkbox' name="category" value="{{this.name}}"/>
              <p>{{this.name}}</p>
          </div>
          {{/each}}
        </div>
      </div>
      <div class='component'>
        <p>Brand</p>
        <div class='list'>
          {{#each manufacturers}}
          <div class='list-component'>
            <input type='checkbox' class='list-checkbox' name="manufacturer" value="{{this.name}}"/>
            <p>{{this.name}}</p>
          </div>
          {{/each}}
        </div>
      </div>

      <div class='component'>
        <p>Price</p>
        <div class='range_container'>
          <div class='sliders_control'>
            <input
              id='fromSlider'
              type='range'
              value='100000'
              min='100000'
              max='9000000'
              step="1000"
            />
            <input
              id='toSlider'
              type='range'
              value='9000000'
              min='100000'
              max='9000000'
              step="1000"
            />
          </div>
          <div class='form_control'>
            <div class='form_control_container'>
              <input
                name = 'from-input'
                class=''
                type='number'
                id='fromInput'
                value='100000'
                min='100000'
                max='9000000'
              />
            </div>
            <div class='form_control_container'>
              <input
                name = 'to-input'
                class=''
                type='number'
                id='toInput'
                value='9000000'
                min='100000'
                max='9000000'
              />
            </div>
          </div>
        </div>
      </div>

      <button class="filter-but" type="submit">Filter</button>
    </form>
    <!--END FILTERS-->

    <!--PRODUCT CATALOG-->
    <div class='main-content'>
      <div class='content-header'>
        <div class='sort-info'>
          <label for='sort-products'>Sort by: </label>
          <select id='sort-products' name='sort-options' onchange="handleQuery(event)" class="form-select" />
            <option selected value='none'>None</option>
            <option value='newest'>Newest</option>
            <option value='oldest'>Oldest</option>
            <option value='low-high'>Low price - High price</option>
            <option value='high-low'>High price - Low price</option>
          </select>
        </div>
      </div>
      <div id='product-container'>
        {{#if totalPages}}
          <div class='product-list row row-cols-1 row-cols-md-3 row-cols-lg-4 g-2'>
            {{#each products}}
            <div class='col'>
              <a class='product mx-1 my-2' href='/product/{{_id}}'>
                <img class='product-img' src={{productImage.[0]}} />
                <div class='product-details'>
                  <p class='product-name'>{{name}}</p>
                  <p class='product-brand'>{{manufacturer.name}}</p>
                  <p class='product-price'>{{formatPrice price}}</p>
                </div>
              </a>
            </div>
            {{/each}}
          </div>

          {{else}}
          <p class='no-products'>No products found</p>
          {{/if}}
      </div>
        
      <nav aria-label="page-navigation">
        <ul class="pagination d-flex justify-content-center" id="product-pagination">
          {{#if totalPages}}
            <li class="page-item {{disabledPage 1 activePage}}">
              <a class="page-link" aria-label="Previous" onclick="paging({{add activePage -1}})">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            {{#loopTill totalPages}}
              <li class="page-item {{activeCurrentPage index activePage}}"><a class="page-link" onclick=paging({{index}})>{{index}}</a></li>
            {{/loopTill}}

            <li class="page-item {{disabledPage totalPages activePage}}">
              <a class="page-link" aria-label="Next" onclick="paging({{add activePage 1}})">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </div>
    <!--END PRODUCT CATALOG-->
  </div>
  <!--END BODY CONTAINER-->
</div>

{{#section 'scripts'}}
  <script src='/js/rangePrice.js'></script>
  <script src='/js/hbsHelpers.js'></script>
  <script src='/js/templates/pagination.js'></script>
  <script src='/js/productList.js'></script>
{{/section}}