<div class='container-fluid mx-0'>
  <div class='body-head'>
    <p class='body-tittle'>PRODUCTS LIST</p>
  </div>
  <div class='body-container'>
    <form class='product-filter' id="filter-form">
      <p>Filters</p>
      <div class='product-name-block'>
        <p>Product name</p>
        <input id="productName" name="product-name" class='product-name' placeholder="Input product name"/>
      </div>
      <div class='component'>
        <p>Category</p>
        <div class='list'>
          {{#each categories}}
            <div class='list-component'>
              <input type='checkbox' class='list-checkbox' name="category" value="{{this.name}}"/>
              <p>{{this.name}}</p>
          </div>
          {{/each}}
        </div>
      </div>
      <div class='component'>
        <p>Brand</p>
        <div class='list'>
          {{#each manufacturers}}
            <div class='list-component'>
              <input type='checkbox' class='list-checkbox' name="manufacturer" value="{{this.name}}"/>
              <p>{{this.name}}</p>
          </div>
          {{/each}}
        </div>
      </div>
      <div class='component'>
        <p>Price</p>

        <div class='range_container'>
          <div class='sliders_control'>
            <input
              id='fromSlider'
              type='range'
              value='100000'
              min='100000'
              max='9000000'
            />
            <input
              id='toSlider'
              type='range'
              value='9000000'
              min='100000'
              max='9000000'
            />
          </div>
          <div class='form_control'>
            <div class='form_control_container'>
              <input
                name = 'from-input'
                class=''
                type='number'
                id='fromInput'
                value='100000'
                min='100000'
                max='9000000'
              />
            </div>
            <div class='form_control_container'>
              <input
                name = 'to-input'
                class=''
                type='number'
                id='toInput'
                value='9000000'
                min='100000'
                max='9000000'
              />
            </div>
          </div>
        </div>
      </div>
        <button class="filter-but" type="submit">Filter</button>
    </form>
    <div class='main-content'>
      <div class='content-header'>
        {{!-- <nav aria-label='breadcrumb'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='#'>Home</a></li>
            <li class='breadcrumb-item active' aria-current='page'><a
              >Men</a></li>
          </ol>
        </nav> --}}
        <div class='sort-info'>
          <label for='sort-products'>Sort by: </label>
          <select id='sort-products' name='sort-options' onchange="sortProducts()" />
            <option value='none'>None</option>
            <option value='newest'>Newest</option>
            <option value='oldest'>Oldest</option>
            <option value='low-high'>Low price - High price</option>
            <option value='high-low'>High price - Low price</option>
          </select>
        </div>
      </div>
      <div class='product-container'>
        <div id="product-list" class='row row-cols-4 row-col-md-1'>
          {{#each products}}
          <div class='col'>
            <a class='product mx-1 my-2' href='/product/{{this._id}}'>
              <img class='product-img' src={{this.productImage.[0]}} />
              <div class='product-details'>
                <p class='product-name'>{{this.name}}</p>
                <p class='product-branch'>{{this.manufacturer.name}}</p>
                <p class='product-price'>{{this.price}} ₫</p>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
      
      <nav aria-label="page-navigation">
        <ul class="pagination" id="product-pagination">

        </ul>
      </nav>
    </div>
  </div>
</div>
<script src='/js/range-price.js'></script>
<script
  data-total-pages="{{totalPages}}"
  data-active-page="{{activePage}}"
  src='/js/product-paging.js'>
</script>
<script src="/js/customer-products.js"></script>